{% extends "base.html" %} 

{% block title %}
Link Upload
{% endblock %}

{% block content %}
<div class="container mt-4 text-center">
    <form method="post" action="{% url 'icalendar-add' %}" class="mt-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="ical_url" style="color: white;">iCalendar URL:</label>
            <input type="text" id="ical_url" name="ical_url" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: #49dfa3; color: white;">Submit</button>
    </form>
</div>    
<ul>
    {% for event in results %}
    {% if event %}
    <li>
        <span style="color: white;">{{ event.summary }} - {{ event.class_name }} - {{ event.start }}</span>
        <a href="{% url 'calendar-add' %}?event_name={{ event.summary }}&class_name={{event.class_name}}&due_date={{ event.start|date:'Y-m-d' }}" style="color: #49dfa3;">Edit</a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<form method="post">
    {% csrf_token %}
    {% for form in event_forms %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
    {% endfor %}
</form>
{% endblock %}