body {
    cursor: url('cursor.png');  
        
    /*background-image: url('background.jpg');*/
    
    background-color: rgb(0, 0, 0); 
    background-size: cover;
    background-repeat: no-repeat; 
    /*background-position: center center;*/
}

p {
    color: white;
  }
  
.bgtable {
    cursor: url('cursor.png'); 
    /*background-image: url('background.jpg'); */
    background-color: black; 
    background-size: cover;
    background-repeat: no-repeat; 
}


/*.background {
    background-image: url('templates/wavybackground.avif');
    background-color: lightblue;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}*/

