{% extends "base.html" %}

{% block title %}
Upcoming Assignments
{% endblock %}

{% block content %}
<div class="container mt-4 text-center">
  <div class="button-container">
    <a href="add_assignment/" class="btn btn-primary" style="background-color: #49dfa3; color: white;">Add Assignment</a>
    <a href="edit_assignment/" class="btn btn-primary" style="background-color: #49dfa3; color: white;">Edit Assignment</a>
    <a href="delete_assignment/" class="btn btn-primary" style="background-color: #49dfa3; color: white;">Delete Assignment</a>
    <a href="/schedule_assignments/" class="btn btn-primary" style="background-color: #49dfa3; color: white;">Schedule Assignments</a>
  </div>
  <ul class="list-group mt-3">
      {% comment %} Will print the list of events in a human-readable format next sprint {% endcomment %}
      {% for result in results %}
      <li class="list-group-item">{{ result.start.date }}{% if result.end.date %} - {{ result.end.date }}{% endif %}: {{ result.summary }}</li>
      {% endfor %}
  </ul>
  
  {% comment %} Embedded Calendar {% endcomment %}
  <iframe src="https://calendar.google.com/calendar/embed?src=c_6ed17073345c64d5b392f5a8ef7b4a62938f12c8fc5fecfa4b7256ef88acad28%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

