<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Assignments</title>
    {% load static %}
    
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Home</a>
        </div>
    </nav>

    <div class="container mt-4 text-center">
        <h1>Upcoming Assignments</h1>
        <a href="add_assignment/" class="btn btn-primary">Add Assignment</a>
        <ul class="list-group mt-3">
            {% comment %} Will print the list of events in a human-readable format next sprint {% endcomment %}
            {% for result in results %}
            <li class="list-group-item">{{ result.start.date }}{% if result.end.date %} - {{ result.end.date }}{% endif %}: {{ result.summary }}</li>
            {% endfor %}
        </ul>
        
        {% comment %} Embedded Calendar {% endcomment %}
        <iframe src="https://calendar.google.com/calendar/embed?src=c_6ed17073345c64d5b392f5a8ef7b4a62938f12c8fc5fecfa4b7256ef88acad28%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

</body>

</html>
