<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {% load static %}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'final.css' %}">
    <style>
        #canvas-login-button {
          background-color: #0077b5; /* Change the background color to match your design */
          color: white;             /* Text color */
          padding: 10px 20px;       /* Padding for better readability */
          border: none;             /* Remove the default button border */
          cursor: pointer;          /* Add a pointer cursor on hover */
        }
    </style>
    <title>Schedule Bulder</title>

</head>
<body>
    <title>Schedule Builder</title>

    <center><h1>Schedule Builder</h1></center>
    <a href="calendar/">Connect to Google Calendar</a>

    <h1>File Upload</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload File</button>
    </form>

    <a href="#" id="canvas-login-button" class="btn btn-primary">Login with Canvas</a>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#canvas-login-button").click(function(e) {
                e.preventDefault(); // Prevent the default behavior of the link
                window.location.href = "https://canvas.csuchico.edu/"; // Redirect to your Canvas login page
            });
        });
        </script>
</body>
</html>
