<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {% load static %}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="" rel="stylesheet">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'final.css' %}">
    <title>Schedule Bulder</title>

</head>
<body>
    <center><h1>Schedule Builder</h1></center>
    <h1>Syllabus Parser</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload Syllabus</button>
    </form>
    {% if syllabus_contents %}
    <h2>Uploaded Syllabus Contents:</h2>
    <pre>{{ syllabus_contents }}</pre>
    {% endif %}
</body>
</html>